<!DOCTYPE html>
<html>
<head>

<title>Admin Page</title>

<style>
table {
  border: 1px solid black;
  margin : 2px;
  display : inline-block;
}
</style>
</head>

<body>

<div class="container">
<h2>Admin Database</h2>

<table>
  <% rows.forEach(function(r) { %>
    <tr>
      <form action="/userInfoUpdate" method="post">
      <td><%= r.id%></td>
      <td><%= r.username%></td>
      <td><input name="email" value="<%= r.email%>"></td>
      <td><input name="password" value="<%= r.password%>"></td>
      <td><input name="usertype" value="<%= r.usertype%>"></td>
      <td><input type="submit" name="submit" value="Update user information"></td>
    </tr>
  <% }); %>
</table>

<br>

<a href="/home/1" value="Home">Home</a>

</div>
</body>
</html>
