<!DOCTYPE html>
<html>
<head>

<title>Admin Page</title>

<style>
table {
  border: 1px solid black;
  margin : 2px;
  display : inline-block;
}
</style>
</head>

<body>

<div class="container">
<h2>Admin Database</h2>

<table>
  <% rows.forEach(function(r) { %>
    <form action="/userInfoUpdate" method="post">
      <tr>
        <td><%= r.id%></td>
        <td><%= r.username%></td>
        <td><input type="text" name="email" value="<%= r.email%>"></td>
        <td><input type="text" name="password" value="<%= r.password%>"></td>
        <td><input type="text" name="usertype" value="<%= r.usertype%>"></td>
        <td><input type="submit" name="submit" value="Update"></td>
      </tr>
    </form>
  <% }); %>
</table>

<br>

<a href="/home" value="Home">Home</a>

</div>
</body>
</html>
