<!DOCTYPE html>
<html>
    <head>
        <title>Messages</title>
        <link rel="stylesheet" href="/stylesheets/chat.css">
        <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    </head>
    <body>
        <div class="nav">
            <div class="options">
                <a href="/home/<%= data.id %>">Home</a>
                <a href="/notifications/<%= data.id %>">Notifications</a>
                <a href="/chat/<%= data.username %>/0">Messages</a>
                <a href="/mymusic/<%= data.id %>">My Music</a>

                <div class="right">
                  <a href= "/profile/<%= data.id %>" > <%= data.username %> </a>
                  <a href="/logout" id="confirmLogout" >Logout</a>
                </div>
            </div>
            <div class="centered">
                <a href="/mypage">Museical</a>
            </div>
        </div>


        <div id="makechatwindow" class="modal">
            <span onclick="document.getElementById('makechatwindow').style.display='none'" class="close" title="close window">×</span>
            <form class="windowcontent" action="/chat/<%= data.username %>/create" method="post">
            <div class="container3">
                <h1>Create Chat</h1>
                <p>Please enter the name of your new chat. <br> <br></p>
                <input id="chatnameinput" name ="chatnameinput" type="text" placeholder="Chat Name" required>
                <p style="font-size:  1em;"><br>You will be able to add participants later.</p>
                <div class="clearfix">
                <button type="button" onclick="document.getElementById('makechatwindow').style.display='none'" class="cancelbtn">CANCEL</button>
                <input id="makeconfirm" type="submit" name="createbtn" class="createbtn" value="CREATE"></input>
                </div>
            </div>
            </form>
        </div>

        <div id="adduserwindow" class="modal">
            <span onclick="document.getElementById('adduserwindow').style.display='none'" class="close" title="close window">×</span>
            <form class="windowcontent" action="" method="post" id="addform">
            <div class="container3">
                <h1>Add User</h1>
                <p>Please enter the username of the person you would like to add to "<%= currentchat.name %>". <br> <br></p>
                <input id="adduserinput" name ="adduserinput" type="text" placeholder="Username of participant" required>
                <p id="add_done" style="font-size:  1em;"><br></p>
                <div class="clearfix">
                <button type="button" onclick="document.getElementById('adduserwindow').style.display='none'" class="cancelbtn">CANCEL</button>
                <input id="addconfirm" type="submit" name="addbtn" class="addbtn" value="ADD PARTICIPANT"></input>
                </div>
            </div>
            </form>
        </div>

        <div id="leavewindow" class="modal">
            <span onclick="document.getElementById('leavewindow').style.display='none'" class="close" title="close window">×</span>
            <form class="windowcontent" action="/chat/<%= data.username %>/<%= currentchat.chatid %>/leave" method="post" id="leaveform">
                <div class="container4">
                <h1>Leave Group</h1>
                <p>Are you sure you want to leave the group?</p>
                <div class="clearfix">
                    <button type="button" onclick="document.getElementById('leavewindow').style.display='none'" class="cancelbtn">CANCEL</button>
                    <input id="delconfirm" type="submit" name="leavebtn" class="leavebtn" value="LEAVE"></input>
                </div>
                </div>
            </form>
        </div>

        <div class="contactList">
            <h2>Contacts</h2>
            <ul id="chatlist">
            <button id="createwindowbtn" onclick= "document.getElementById('makechatwindow').style.display='block'">Create Chat</button>
                <% chatInfo.forEach(function(chats) { %>
                    <a href="/chat/<%= data.username %>/<%= chats.chatid %>"><%= chats.name %></a> <br>
                <% }); %>
            </ul>
        </div>

        <div class="container1">
            <div class="chat_controls">
                <p class="chat_title"><%= currentchat.name %></p>
            <button id="addwindowbtn" onclick= "if ('<%= currentchat.chatid %>' != 0){document.getElementById('adduserwindow').style.display='block'}">Add User</button>
            <button id="leavewindowbtn" onclick= "if ('<%= currentchat.chatid %>' != 0){document.getElementById('leavewindow').style.display='block'}">Leave Group</button>
            </div>
            <ul id="messages">
                <% mesInfo.forEach(function(msg) { %>
                    <li class= "<%= msg.sender %>"><%= msg.message %></li> <br>
                    <span>sent by <%= msg.sender %></span> <br>
                <% }); %>
            </ul>
        </div>
        <div class = "container2">
            <form action="" id="chatForm">
            <input id="txt" autocomplete="off" autofocus="on" placeholder="type a message..." / required><button id="sendbtn">Send</button>
            </form>
            <script>
                $(()=> {
                    var socket = io();
                    // submit text message without reload/refresh the page
                    $('#chatForm').submit((evt)=>{
                        evt.preventDefault(); // prevents page reloading
                        if ('<%= currentchat.chatid %>' != 0){
                            socket.emit('chat_message', {msg: $('#txt').val(), chatID: '<%= currentchat.chatid %>'});
                        }
                        $('#txt').val('');
                        return false;
                    });

                    $('#addform').submit((evt)=>{
                        evt.preventDefault(); // prevents page reloading
                        socket.emit('add_participant', {msg: $('#adduserinput').val(), chatID: '<%= currentchat.chatid %>'});
                        $('#add_done').text($('#adduserinput').val() + ' was added');
                        $('#adduserinput').val('');
                        return false;
                    });

                    $('#leaveform').submit((evt)=>{
                        socket.emit("user_left", {msg: "has left the chat", chatID: '<%= currentchat.chatid %>'});
                        console.log("im out");
                        return true;
                    });

                    $('#confirmLogout').click(function(){
                      if(confirm('Are you sure you wish to logout?')) {
                          return true;
                        }

                        return false;
                      });

                    //show messages sent by you
                    socket.on('chat_message', (info)=>{
                        $('#messages').append($("<li class='"+username+"'>").text(info.message));
                        $('#messages').append($("<br>"));
                        $('#messages').append($("<span>").text("sent by " +info.name));
                        $('#messages').append($("<br>"));
                        document.getElementById("messages").scrollTop = document.getElementById("messages").scrollHeight;
                        recolor()
                    });

                    // temporary manual username input
                    var username = '<%= data.username %>';
                    socket.emit('username', username);

                    //show messages sent by other users
                    socket.on("received", (info) => {
                        $('#messages').append($("<li class='"+info.name+"'>").text(info.message));
                        $('#messages').append($("<br>"));
                        $('#messages').append($("<span>").text("sent by " +info.name));
                        $('#messages').append($("<br>"));
                        document.getElementById("messages").scrollTop = document.getElementById("messages").scrollHeight;
                    });

                    window.onload = () => {
                        document.getElementById("messages").scrollTop = document.getElementById("messages").scrollHeight;
                        recolor();
                    }

                    function recolor(){
                        var sent = document.getElementsByClassName(username);
                        for (var i = 0; i < sent.length; i++){
                            sent[i].style.backgroundColor = 'lightblue';
                        }
                    }
                });

            </script>
            <script src="/socket.io/socket.io.js"></script>
        </div>
    </body>
    </html>
