<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/stylesheets/pageStyle.css">
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <title> <%= username %>'s Music</title>
  </head>
  <body>

    <% include ../partials/nav.ejs %>
    <% include ../partials/notification.ejs %>

      <div class="video_window" style="margin-top: 15px; display: inline-block; border: 2px solid white; width: 80%; height: 25%; margin-left: 10%; margin-right: 10%;">
        <h3 class="video_text" style="color: white;">My Liked Videos:</h3>
        <% likedVids.forEach(function (likedVids) { %>
          <div class="hot-vids">
            <img src="<%= likedVids.snippet.thumbnails.default.url %>" alt="Can't display image">
            <div class="username">
              <h2> <%= likedVids.snippet.title %> </h2>
            </div>
            <div class="date">
              <h3><%= likedVids.snippet.channelTitle %></h3>
            </div>
            <div class="recognize">
              <a href="https://www.youtube.com/watch?v=<%= likedVids.id %>" target="_blank">Watch now</a>
            </div>
          </div>
        <% }) %>
      </div>

    <script type="text/javascript">

    $(() => {
      $('#confirmLogout').click(function(){
        if(confirm('Are you sure you wish to logout?')) {
            return true;
          }

          return false;
        });
    });

    </script>

  </body>
</html>
