<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/pageStyle.css">
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <title> <%= username %>'s Profile</title>
  </head>
  <body>

    <% include ../partials/nav.ejs %>
    <% include ../partials/notification.ejs %>

    <div class="info">

      <img src=" <%=user_info[user_info.length-1].picture %> " alt="Can't display your image">

      <h3>Your current profile picture</h3> <br>

      <h4>If you would like to update your profile picture, select an image from your files below and click Submit.</h4>

      <form action="/pictureChoose" method="post" enctype="multipart/form-data">
        <input type="file" name="profilePicture">
        <input type="submit" name="submit" value="submit">
      </form>

      <% if (alert == 'pic'){ %>
        <h4 class="alert">The file you have chosen is neither a jpeg nor a png, your profile picture has not been changed.</h4>
       <% } %>

      <br>

      <h3> Your current username: <br> <br><%= username %> </h3> <br><br>

      <h4>If you wish to change your username, enter a new username below.</h4>

      <form action="/usernameChange" method="post">
        <input type="text" name="uname" maxlength="10" placeholder="new username"> <br> <br>
        <input type="submit" name="submit" value="Change my username">
      </form>

      <% if (alert == 'uname'){ %>
        <h4 class="alert">The username you have chosen is already in use. Your username has not been changed.</h4>
       <% } %>

       <br><br>
       <% if(admin) { %>
         <button href="/admin">Admin page</button>
       <% }%>

       <br><br>
       <% if (spotify){ %>
         <h3>You have connected to your Spotify account.</h3>
        <% } else { %>
          <h3>To connect to your Spotify account, click below.</h3><br><br>
          <form class="spotify follow" action="/spotifyTry" method="post">
             <input type="submit" name="spotify" value="Spotify">
          </form>
        <% }%>
    </div>

    <div class="tabs floater">
      <h2>Your Recent Activity</h3>
    </div>

    <div class="activity">
      <h4>
        <% for(var i=0 ; i< user_history.length ; i++) { %>
            <% if(user_history[i].operation == 'I') { %>
                <li> <%= user_history[i].stamp %> profile created </li>
            <% } else if(user_history[i].operation == 'U') { %>
              <% if(user_history[i].name.localeCompare(user_history[i-1].name)!=0) { %>
                <li> <%= user_history[i].stamp %> username changed to <%= user_history[i].name %>. </li>
              <% } else if(user_history[i].email.localeCompare(user_history[i-1].email) != 0) { %>
                <li> <%= user_history[i].stamp %> email changed to <%= user_history[i].email %>. </li>
              <% } else if(user_history[i].password.localeCompare(user_history[i-1].password)!=0) { %>
                <li> <%= user_history[i].stamp %> password updated. </li>
              <% } else if(user_history[i].picture.localeCompare(user_history[i-1].picture) !=0 ) { %>
                <li> <%= user_history[i].stamp %> profile picture updated. </li>
              <% } %>
            <% } %>
        <% } %>
      </h4>
    </div>

    <div class="tabs floater">
      <h2>Your Friends Activity</h3>
    </div>

    <div class="activity">
      <h3>No friends yet :(</h3>
    </div>

    <div class="tabs floater">
      <h2>Your Songs/Artists</h3>
    </div>

    <script type="text/javascript">

    $(() => {
      $('#confirmLogout').click(function(){
        if(confirm('Are you sure you wish to logout?')) {
            return true;
          }

          return false;
        });
    });

    </script>


  </body>
</html>
