<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/stylesheets/pageStyle.css">
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <title><%= results.username %>'s Page</title>
  </head>
  <body>

    <% include ../partials/nav.ejs %>

    <div class="info">

      <img src=" <%= results.picture %> " alt="Can't display your image">

      <h2><%= results.username %>'s Profile</h2> <br><br>

      <form class="follow" action="/interact/<%= results.id %>" method="post">
        <% if (following){ %>
          <input type="submit" name="unFollow" value="UnFollow">
        <% } else { %>
          <input type="submit" name="follow" value="Follow">
        <% } %>
        <input type="submit" name="message" value="Message">
      </form>

    </div>

    <div class="tabs floater">
      <h2><%= results.username %>'s Recent Activity</h3>
    </div>

    <div class="activity">
      <h4>
        <% if (following){ %>
          <% for(var i=0 ; i< history.length ; i++) { %>
              <% if(history[i].operation == 'I') { %>
                  <li> <%= history[i].stamp %> profile created </li>
              <% } else if(history[i].operation == 'U') { %>
                <% if(history[i].name.localeCompare(history[i-1].name)!=0) { %>
                  <li> <%= history[i].stamp %> username changed to <%= history[i].name %>. </li>
                <% } else if(history[i].email.localeCompare(history[i-1].email) != 0) { %>
                  <li> <%= history[i].stamp %> email changed.%>. </li>
                <% } else if(history[i].password.localeCompare(history[i-1].password)!=0) { %>
                  <li> <%= history[i].stamp %> password updated. </li>
                <% } else if(history[i].picture.localeCompare(history[i-1].picture) !=0 ) { %>
                  <li> <%= history[i].stamp %> profile picture updated. </li>
                <% } %>
              <% } %>
          <% } %>
        <% } %>
      </h4>
    </div>


    <script type="text/javascript">

    $(() => {
      $('#confirmLogout').click(function(){
        if(confirm('Are you sure you wish to logout?')) {
            return true;
          }

          return false;
        });
    });

    </script>

  </body>
</html>
