<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/stylesheets/pageStyle.css">
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <title>Results</title>
  </head>
  <body>

    <% include ../partials/nav.ejs %>

    <div class="results">

      <h1 class="resultHeader">Results:</h1>

      <% if(results.length == 0){ %>

        <h1>Users:</h1>
        <h2 style="margin:20px;">No users matched your search.</h2>
      <% } else { %>
        <h1>Users:</h1>
      <% results.forEach(function(x){ %>
        <a href="/userSelect/<%= x.id %>">
        <div class="matches">
          <img src="<%= x.picture %>" alt="Can't display image">

          <div class="username">
            <h2><%=x.username %></h2>
          </div>

          <div class="date">
            <h3> Date Joined: <%=x.date_joined.toDateString() %> </h3>
          </div>

          <% if(followers.includes(x.id)){ %>
            <div class="recognize">
              <h2>Following</h2>
            </div>
          <% } %>
        </div>
        </a>

      <% })} %>

      <h1>Songs:</h1>
      <% if(spotifySongs) { %>

        <% spotifySongs.forEach(function(x, i){ %>
        <div class="matches">
          <% if(x.picture){ %>
            <img src="<%= x.picture %>" alt="Can't display image">
          <% } else { %>
            <img src="/pictures/lang-logo.png" alt="Can't display image">
          <% } %>

          <div class="username">
            <h2> <%=x.name %> </h2>
          </div>

          <div class="date">
           <%  if(x.artists.length > 1){ %>
             <h3> Artists:
             <% x.artists.forEach((artist, i) => { %>
               <% if(i == x.artists.length -1){ %>
                 <span><%= artist %></span>
             <% } else { %>
               <span><%= artist %>,</span>
             <% } %>
             <% }) %>
             </h3>

           <% } else { %>
             <h3> Artist: <%= x.artists[0] %> </h3>
           <% } %>

          </div>

            <div class="recognize">
              <form class="tracks" method="post">
                <% if(myTracks.includes(x.id)){ %>
                  <input type="hidden" id="<%= x.id %>Hidden" name="delete" value="<%= x.id %>">
                  <input type="submit" id="<%= x.id %>Input" name="sub" value="Remove from my favourite songs">
                <% } else { %>
                  <input type="hidden" id="<%= x.id %>Hidden" name="add" value="<%= x.id %>">
                  <input type="submit" id="<%= x.id %>Input" name="sub" value="Add to my favourite songs">
                <% } %>

              </form>
            </div>

        </div>

      <% }) } else { %>
        <h2>No songs matched your search.</h2>
      <% }%>

      <h1>Artists:</h1>
      <% if(spotifyArtists) { %>

        <% spotifyArtists.forEach(function(x){ %>

        <div class="matches">
          <% if(x.picture){ %>
            <img src="<%= x.picture %>" alt="Can't display image">
          <% } else { %>
            <img src="/pictures/lang-logo.png" alt="Can't display image">
          <% } %>


          <div class="username">
            <h2> <%=x.name %> </h2>
          </div>

          <div class="date">
            <h3> Genres:&nbsp
            <% x.genres.forEach((genre, i) => { %>
              <% if(i == x.genres.length -1){ %>
                <span><%= genre %></span>
            <% } else { %>
              <span><%= genre %>,&nbsp</span>
            <% } %>

            <% }) %>
          </h3>
          </div>

            <div class="recognize">
              <form class="artists" method="post">
                <% if(myArtists.includes(x.id)){ %>
                <input type="hidden" id="<%= x.id %>Hidden" name="delete" value="<%= x.id %>">
                <input type="submit" id="<%= x.id %>Input" name="sub" value="Remove from my favourite artists">
                <% } else { %>
                <input type="hidden" id="<%= x.id %>Hidden" name="add" value="<%= x.id %>">
                <input type="submit" id="<%= x.id %>Input" name="sub" value="Add to my favourite artists">
                <% } %>
              </form>
            </div>

        </div>

      <% }) } else { %>
        <h2>No artists matched your search.</h2>
      <% } %>

      <% if(youtubevideos == '/google_login') { %>
        <a href='/google_login'>Please login to Google to see Youtube results</a>
      <% } else { %>
        <% youtubevideos.forEach(function (youtubevideos) { %>
          <li style="color: white;"><%= youtubevideos.snippet.title %></li>
        <% }) %>
      <% } %>
    </div>

    <script type="text/javascript">

    $(() => {

      $('#confirmLogout').click(function(){
        if(confirm('Are you sure you wish to logout?')) {
            return true;
          }

          return false;
        });

      $('.tracks').submit(function(x) {
        x.preventDefault();
        $.ajax({
          type: "POST",
          url: "/songToFaves",
          data: $(this).serialize(),
          success: function(res){
            if(res.add){
              $(`#${res.add}Input`).val("Remove from my favourite songs");
              $(`#${res.add}Hidden`).attr('name', 'delete');
            }
            else {
              $(`#${res.delete}Input`).val("Add to my favourite songs");
              $(`#${res.delete}Hidden`).attr('name', 'add');
            }
          }
        })
      })


      $('.artists').submit(function(x) {
        x.preventDefault();
        $.ajax({
          type: "POST",
          url: "/artistToFaves",
          data: $(this).serialize(),
          success : function(res){
            if(res.add){
              $(`#${res.add}Input`).val("Remove from my favourite artists");
              $(`#${res.add}Hidden`).attr('name', 'delete');
            }
            else {
              $(`#${res.delete}Input`).val("Add to my favourite artists");
              $(`#${res.delete}Hidden`).attr('name', 'add');
            }
          }
        })
      })

    });
    </script>

  </body>
</html>
