<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/stylesheets/pageStyle.css">
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <title>Results</title>
  </head>
  <body>

    <% include ../partials/nav.ejs %>
    <% include ../partials/notification.ejs %>

    <div class="results">

      <h1 class="resultHeader">Results:</h1>

      <% if(results.length == 0){ %>

        <h1>Users:</h1>
        <h2 style="margin:20px;">No users matched your search.</h2>
      <% } else { %>
        <h1>Users:</h1>
      <% results.forEach(function(x){ %>
        <div class="matches divAnchor">
          <a href="/userSelect/<%= x.id %>">
          <img src="<%= x.picture %>" alt="Can't display image">

          <div class="username">
            <h2><%=x.username %></h2>
          </div>

          <div class="date">
            <h3> Date Joined: <%=x.date_joined.toDateString() %> </h3>
          </div>

          <% if(followers.includes(x.id)){ %>
            <div class="recognize">
              <h2>Following</h2>
            </div>
          <% } %>
        </a>
      </div>

      <% })} %>


      <h1>Music sheets:</h1>

      <h2>
      <a href="<%=museScoreURL%>" target="_blank">Result for <%=input%> on MuseScore.com</a><br>
      <a href="<%=notesURL%>" target="_blank">Result for <%=input%> on 8Notes.com</a>
      </h2>

      <h1>Songs:</h1>
      <% if(spotifySongs.length != 0) { %>

        <% spotifySongs.forEach(function(x, i){ %>
        <div class="matches">
          <% if(x.picture){ %>
            <img src="<%= x.picture %>" alt="Can't display image">
          <% } else { %>
            <img src="/pictures/lang-logo.png" alt="Can't display image">
          <% } %>

          <div class="username">
            <h2> <%=x.name %> </h2>
          </div>

          <div class="date">
           <%  if(x.artists.length > 1){ %>
             <h3> Artists:
             <% x.artists.forEach((artist, i) => { %>
               <% if(i == x.artists.length -1){ %>
                 <span><%= artist %></span>
             <% } else { %>
               <span><%= artist %>,</span>
             <% } %>
             <% }) %>
             </h3>

           <% } else { %>
             <h3> Artist: <%= x.artists[0] %> </h3>
           <% } %>

          </div>

            <div class="recognize">
              <form class="tracks" method="post">
                <% if(myTracks.includes(x.id)){ %>
                  <input type="hidden" id="<%= x.id %>Hidden" name="delete" value="<%= x.id %>">
                  <input type="submit" id="<%= x.id %>Input" name="sub" value="Remove from my favourite songs">
                <% } else { %>
                  <input type="hidden" id="<%= x.id %>Hidden" name="add" value="<%= x.id %>">
                  <input type="submit" id="<%= x.id %>Input" name="sub" value="Add to my favourite songs">
                <% } %>

              </form>
            </div>


            <div class="Rating">
              <% if(allRatings[x.id] != null){ %>
                <h3>&nbsp&nbsp&nbsp<a href="/Rate/song/<%=x.id%>">Rate This Song</a></h3>
                <h3>Museical User's Rating: <%= allRatings[x.id] %>/5 </h3>
              <% } else { %>
                <h3>&nbsp&nbsp&nbsp<a href="/Rate/song/<%=x.id%>">Rate This Song</a></h3>
                <h3>No ratings yet.</h3>
              <% } %>
            </div>

        </div>

      <% }) } else { %>
        <h2 style="margin:20px;">No songs matched your search.</h2>
      <% }%>

      <h1>Artists:</h1>
      <% if(spotifyArtists.length != 0) { %>

        <% spotifyArtists.forEach(function(x){ %>

        <div class="matches">
          <% if(x.picture){ %>
            <img src="<%= x.picture %>" alt="Can't display image">
          <% } else { %>
            <img src="/pictures/lang-logo.png" alt="Can't display image">
          <% } %>


          <div class="username">
            <h2> <%=x.name %> </h2>
          </div>

          <div class="date">
            <h3> Genres:&nbsp
            <% x.genres.forEach((genre, i) => { %>
              <% if(i == x.genres.length -1){ %>
                <span><%= genre %></span>
            <% } else { %>
              <span><%= genre %>,&nbsp</span>
            <% } %>

            <% }) %>
          </h3>
          </div>

            <div class="recognize">
              <form class="artists" method="post">
                <% if(myArtists.includes(x.id)){ %>
                <input type="hidden" id="<%= x.id %>Hidden" name="delete" value="<%= x.id %>">
                <input type="submit" id="<%= x.id %>Input" name="sub" value="Remove from my favourite artists">
                <% } else { %>
                <input type="hidden" id="<%= x.id %>Hidden" name="add" value="<%= x.id %>">
                <input type="submit" id="<%= x.id %>Input" name="sub" value="Add to my favourite artists">
                <% } %>
              </form>
            </div>

            <div class="Rating">
              <% if(allRatings[x.id] != null){ %>
                <h3>&nbsp&nbsp&nbsp<a href="/Rate/artist/<%=x.id%>">Rate This Artist</a></h3>
                <h3>Museical User's Rating: <%= allRatings[x.id] %>/5 </h3>
              <% } else { %>
                <h3>&nbsp&nbsp&nbsp<a href="/Rate/artist/<%=x.id%>">Rate This Artist</a></h3>
                <h3>No ratings yet.</h3>
              <% } %>
            </div>

        </div>

      <% }) } else { %>
        <h2 style="margin:20px;">No artists matched your search.</h2>
      <% } %>



      <h1>Albums:</h1>
      <% if(spotifyAlbums.length != 0) { %>

        <% spotifyAlbums.forEach(function(x){ %>

        <div class="matches">
          <% if(x.picture){ %>
            <img src="<%= x.picture %>" alt="Can't display image">
          <% } else { %>
            <img src="/pictures/lang-logo.png" alt="Can't display image">
          <% } %>


          <div class="username">
            <h2> <%=x.name %> </h2>
          </div>

          <div class="date">
           <%  if(x.artists.length > 1){ %>
             <h3> Artists:
             <% x.artists.forEach((artist, i) => { %>
               <% if(i == x.artists.length -1){ %>
                 <span><%= artist.name %></span>
             <% } else { %>
               <span><%= artist.name %>,</span>
             <% } %>
             <% }) %>
             </h3>

           <% } else { %>
             <h3> Artist: <%= x.artists[0].name %> </h3>
           <% } %>

          </div>

          <div class="recognize" style="top: 50%;">
            <form action="/albumExplore" method="post">
              <input type="hidden" name="id" value="<%= x.id %>">
              <input type="hidden" name="album" value="<%= x.name %>">
              <% if(x.picture){ %>
                <input type="hidden" name="picture" value="<%= x.picture %>">
              <% } else { %>
                <input type="hidden" name="picture" value="/pictures/lang-logo.png">
              <% } %>
              <input type="submit"  name="sub" value="Explore this album">
            </form>
          </div>

        </div>

      <% }) } else { %>
        <h2 style="margin:20px;">No albums matched your search.</h2>
      <% } %>




      <h1>Videos:</h1>

      <% if(youtubevideos == '/google_login') { %>
        <a id= "glogin" href='/google_login'>Please login to Google to see Youtube results</a>
      <% } else { %>
        <% youtubevideos.forEach(function (youtubevideos) { %>
          <div class="matches-vids">
            <img src="<%= youtubevideos.snippet.thumbnails.default.url %>" alt="Can't display image">
            <div class="username">
              <h2> <%= youtubevideos.snippet.title %> </h2>
            </div>
            <div class="date">
              <h3><%= youtubevideos.snippet.channelTitle %></h3>
            </div>
            <div class="vids-recognize">
              <a href="https://www.youtube.com/watch?v=<%= youtubevideos.id.videoId %>" target="_blank">Watch now</a>
            </div>
          </div>
        <% }) %>
      <% } %>
    </div>

    <script type="text/javascript">

    $(() => {

      $('#confirmLogout').click(function(){
        if(confirm('Are you sure you wish to logout?')) {
            return true;
          }

          return false;
        });

      $('.tracks').submit(function(x) {
        x.preventDefault();
        $.ajax({
          type: "POST",
          url: "/songToFaves",
          data: $(this).serialize(),
          success: function(res){
            if(res.add){
              $(`#${res.add}Input`).val("Remove from my favourite songs");
              $(`#${res.add}Hidden`).attr('name', 'delete');
            }
            else {
              $(`#${res.delete}Input`).val("Add to my favourite songs");
              $(`#${res.delete}Hidden`).attr('name', 'add');
            }
          }
        })
      })


      $('.artists').submit(function(x) {
        x.preventDefault();
        $.ajax({
          type: "POST",
          url: "/artistToFaves",
          data: $(this).serialize(),
          success : function(res){
            if(res.add){
              $(`#${res.add}Input`).val("Remove from my favourite artists");
              $(`#${res.add}Hidden`).attr('name', 'delete');
            }
            else {
              $(`#${res.delete}Input`).val("Add to my favourite artists");
              $(`#${res.delete}Hidden`).attr('name', 'add');
            }
          }
        })
      })

    });
    </script>

  </body>
</html>
