<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/stylesheets/pageStyle.css">
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <title>Results</title>
  </head>
  <body>

    <% include ../partials/nav.ejs %>

    <div class="results">

      <h1 class="resultHeader">Results:</h1>

      <% if(results.length == 0){ %>
        <br><br>
        <h2>No users matched your search.</h2>
      <% } else { %>
        <h2>Click on any of the users below to view their profile.</h3>
        <br><br>
        <h1>Users:</h1>
      <% results.forEach(function(x){ %>
        <a href="/userSelect/<%= x.id %>">
        <div class="matches">
          <img src="<%= x.picture %>" alt="Can't display image">

          <div class="username">
            <h2><%=x.username %></h2>
          </div>

          <div class="date">
            <h3> Date Joined: <%=x.date_joined.toDateString() %> </h3>
          </div>

          <% if(followers.includes(x.id)){ %>
            <div class="recognize">
              <h2>Following</h2>
            </div>
          <% } %>
        </div>
        </a>

      <% }) %>

      <h1>Songs:</h1>
      <% if(spotifySongs) { %>

        <% spotifySongs.forEach(function(x){ %>
        <div class="matches">
          <img src="<%= x.picture %>" alt="Can't display image">

          <div class="username">
            <h2> <%=x.name %> </h2>
          </div>

          <div class="date">
            <h3> Artist(s):
            <% x.artists.forEach((artist, i) => { %>
              <% if(i == x.artists.length -1){ %>
                <span><%= artist %></span>
            <% } else { %>
              <span><%= artist %>,</span>
            <% } %>

            <% }) %>
          </h3>
          </div>

            <div class="recognize">
              <a href="#">Add to My favourite songs</a>
            </div>

        </div>

      <% }) } else { %>
        <h2>No songs matched your search.</h2>
      <% }%>

      <h1>Artists:</h1>
      <% if(spotifyArtists) { %>

        <% spotifyArtists.forEach(function(x){ %>

        <div class="matches">
          <img src="<%= x.picture %>" alt="Can't display image">

          <div class="username">
            <h2> <%=x.name %> </h2>
          </div>

          <div class="date">
            <h3> Genres:
            <% x.genres.forEach((genre, i) => { %>
              <% if(i == x.genres.length -1){ %>
                <span><%= genre %></span>
            <% } else { %>
              <span><%= genre %>,</span>
            <% } %>

            <% }) %>
          </h3>
          </div>

            <div class="recognize">
              <a href="#">Add to my favourite artists</a>
            </div>

        </div>

      <% }) } else { %>
        <h2>No artists matched your search.</h2>
      <% } } %>


    </div>




    <script type="text/javascript">

    $(() => {
      $('#confirmLogout').click(function(){
        if(confirm('Are you sure you wish to logout?')) {
            return true;
          }

          return false;
        });
    });

    </script>

  </body>
</html>
