<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/stylesheets/pageStyle.css">
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <title> <%= username %>'s Homepage</title>
  </head>
  <body>

    <% include ../partials/nav.ejs %>
    <% include ../partials/notification.ejs %>

    <div class="tabs">
      <h2>
        Hot Right Now
      </h2>
    </div>


      <% if(hotRightNow.length != 0){ %>
        <% for(var i=0; i < hotRightNow.length; i += 2) { %>
          <div class="containHot">

          <div class="hot">

          <% if(hotRightNow[i].picture){ %>
            <img src="<%= hotRightNow[i].picture %>" alt="Can't display image">
          <% } else { %>
            <img src="/pictures/lang-logo.png" alt="Can't display image">
          <% } %>

          <div class="username">
            <% if(hotRightNow[i].type == 'single'){ %>
              <h2>Single: &nbsp <%= hotRightNow[i].name %> </h2>
            <% } else if(hotRightNow[i].type == 'album') { %>
              <h2>Album: &nbsp <%= hotRightNow[i].name %> </h2>
            <% } else { %>
              <h2> <%= hotRightNow[i].name %> </h2>
            <% } %>

          </div>

          <div class="date">
           <%  if(hotRightNow[i].artists.length > 1){ %>
             <h3> Artists:
             <% hotRightNow[i].artists.forEach((artist, y) => { %>
               <% if(y == hotRightNow[i].artists.length -1){ %>
                 <span><%= artist %></span>
             <% } else { %>
               <span><%= artist %>,</span>
             <% } %>
             <% }) %>
             </h3>

           <% } else { %>
             <h3> Artist: <%= hotRightNow[i].artists[0] %> </h3>
           <% } %>

            </div>

            <% if(hotRightNow[i].type == 'single'){ %>

              <div class="Rating">

                  <h3>Search this song to rate or to add to favourites!</h3>

              </div>

            <% } else if(hotRightNow[i].type == 'album') { %>
              <div class="recognize" style="top: 50%;">
                <form action="/albumExplore" method="post">
                  <input type="hidden" name="id" value="<%= hotRightNow[i].id %>">
                  <input type="hidden" name="album" value="<%= hotRightNow[i].name %>">
                  <% if(hotRightNow[i].picture){ %>
                    <input type="hidden" name="picture" value="<%= hotRightNow[i].picture %>">
                  <% } else { %>
                    <<input type="hidden" name="picture" value="/pictures/lang-logo.png">
                  <% } %>
                  <input type="submit" name="sub" value="Explore this album">
                </form>
              </div>
            <% } %>


          </div>

        <div class="hot">

        <% if(hotRightNow[i+1].picture){ %>
          <img src="<%= hotRightNow[i+1].picture %>" alt="Can't display image">
        <% } else { %>
          <img src="/pictures/lang-logo.png" alt="Can't display image">
        <% } %>

        <div class="username">
          <% if(hotRightNow[i+1].type == 'single'){ %>
            <h2>Single: &nbsp <%= hotRightNow[i+1].name %> </h2>
          <% } else if(hotRightNow[i+1].type == 'album') { %>
            <h2>Album: &nbsp <%= hotRightNow[i+1].name %> </h2>
          <% } else { %>
            <h2> <%= hotRightNow[i+1].name %> </h2>
          <% } %>
        </div>

        <div class="date">
         <%  if(hotRightNow[i+1].artists.length > 1){ %>
           <h3> Artists:
           <% hotRightNow[i+1].artists.forEach((artist, y) => { %>
             <% if(y == hotRightNow[i+1].artists.length -1){ %>
               <span><%= artist %></span>
           <% } else { %>
             <span><%= artist %>,</span>
           <% } %>
           <% }) %>
           </h3>

         <% } else { %>
           <h3> Artist: <%= hotRightNow[i+1].artists[0] %> </h3>
         <% } %>

          </div>

          <% if(hotRightNow[i+1].type == 'single'){ %>
            <div class="Rating">

                <h3>Search this song to rate or to add to favourites!</h3>

            </div>

          <% } else if(hotRightNow[i+1].type == 'album'){ %>
            <div class="recognize" style="top: 50%;">
              <form action="/albumExplore" method="post">
                <input type="hidden" name="id" value="<%= hotRightNow[i+1].id %>">
                <input type="hidden" name="album" value="<%= hotRightNow[i+1].name %>">
                <% if(hotRightNow[i+1].picture){ %>
                  <input type="hidden" name="picture" value="<%= hotRightNow[i+1].picture %>">
                <% } else { %>
                  <input type="hidden" name="picture" value="/pictures/lang-logo.png">
                <% } %>

                <input type="submit"  name="sub" value="Explore this album">
              </form>
            </div>
          <% } %>

        </div>

          </div>

        <% } %>
      <% } else { %>
        <h2>Nothing to share.</h2>
      <% }%>


    <div class="tabs">
      <h2>Albums You May Like</h2>
    </div>

    <% if(albumsYouMayLike.length > 0){ %>
      <% for(var i=0; i < albumsYouMayLike.length; i += 2) { %>
        <div class="containHot">

        <div class="hot">

        <% if(albumsYouMayLike[i].picture){ %>
          <img src="<%= albumsYouMayLike[i].picture %>" alt="Can't display image">
        <% } else { %>
          <img src="/pictures/lang-logo.png" alt="Can't display image">
        <% } %>

        <div class="username">
            <h2><%= albumsYouMayLike[i].name %> </h2>
        </div>

        <div class="date">
         <%  if(albumsYouMayLike[i].artists.length > 1){ %>
           <h3> Artists:
           <% albumsYouMayLike[i].artists.forEach((artist, y) => { %>
             <% if(y == albumsYouMayLike[i].artists.length -1){ %>
               <span><%= artist.name %></span>
           <% } else { %>
             <span><%= artist.name %>,</span>
           <% } %>
           <% }) %>
           </h3>

         <% } else { %>
           <h3> Artist: <%= albumsYouMayLike[i].artists[0].name %> </h3>
         <% } %>

          </div>

            <div class="recognize" style="top: 50%;">
              <form action="/albumExplore" method="post">
                <input type="hidden" name="id" value="<%= albumsYouMayLike[i].id %>">
                <input type="hidden" name="album" value="<%= albumsYouMayLike[i].name %>">
                <% if(albumsYouMayLike[i].picture){ %>
                  <input type="hidden" name="picture" value="<%= albumsYouMayLike[i].picture %>">
                <% } else { %>
                  <<input type="hidden" name="picture" value="/pictures/lang-logo.png">
                <% } %>
                <input type="submit" name="sub" value="Explore this album">
              </form>
            </div>

        </div>

      <% if(albumsYouMayLike[i+1] && albumsYouMayLike[i+1].name != albumsYouMayLike[i].name){ %>
        <div class="hot">

        <% if(albumsYouMayLike[i+1].picture){ %>
          <img src="<%= albumsYouMayLike[i+1].picture %>" alt="Can't display image">
        <% } else { %>
          <img src="/pictures/lang-logo.png" alt="Can't display image">
        <% } %>

        <div class="username">
            <h2><%= albumsYouMayLike[i+1].name %> </h2>
        </div>

        <div class="date">
         <%  if(albumsYouMayLike[i+1].artists.length > 1){ %>
           <h3> Artists:
           <% albumsYouMayLike[i+1].artists.forEach((artist, y) => { %>
             <% if(y == albumsYouMayLike[i+1].artists.length -1){ %>
               <span><%= artist.name %></span>
           <% } else { %>
             <span><%= artist.name %>,</span>
           <% } %>
           <% }) %>
           </h3>

         <% } else { %>
           <h3> Artist: <%= albumsYouMayLike[i+1].artists[0].name %> </h3>
         <% } %>

          </div>

            <div class="recognize" style="top: 50%;">
              <form action="/albumExplore" method="post">
                <input type="hidden" name="id" value="<%= albumsYouMayLike[i+1].id %>">
                <input type="hidden" name="album" value="<%= albumsYouMayLike[i+1].name %>">
                <% if(albumsYouMayLike[i+1].picture){ %>
                  <input type="hidden" name="picture" value="<%= albumsYouMayLike[i+1].picture %>">
                <% } else { %>
                  <input type="hidden" name="picture" value="/pictures/lang-logo.png">
                <% } %>

                <input type="submit"  name="sub" value="Explore this album">
              </form>
            </div>

        </div>

      <% } %>

        </div>

      <% } %>
    <% } else { %>
      <div class="activity">
        <h3>Add some artists to your favourites to get album recommendations!</h3>
      </div>

    <% } %>

    <div class="tabs">
      <h2>
        Artists You May Like
      </h2>
    </div>

    <% if(relatedArtists.length > 0){ %>
      <% for(var i=0; i < relatedArtists.length; i += 2) { %>
        <div class="containHot">

        <div class="hot">

        <% if(relatedArtists[i].picture){ %>
          <img src="<%= relatedArtists[i].picture %>" alt="Can't display image">
        <% } else { %>
          <img src="/pictures/lang-logo.png" alt="Can't display image">
        <% } %>

        <div class="username">
            <h2><%= relatedArtists[i].name %> </h2>
        </div>

        <div class="date">
          <h3> Genres:&nbsp
          <% relatedArtists[i].genres.forEach((genre, y) => { %>
            <% if(y == relatedArtists[i].genres.length -1){ %>
              <span><%= genre %></span>
          <% } else { %>
            <span><%= genre %>,&nbsp</span>
          <% } %>

          <% }) %>
        </h3>

          </div>

          <div class="recognize">
            <form class="artists" method="post">
              <% if(myArtists.includes(relatedArtists[i].id)){ %>
              <input type="hidden" id="<%= relatedArtists[i].id %>Hidden" name="delete" value="<%= relatedArtists[i].id %>">
              <input type="submit" id="<%= relatedArtists[i].id %>Input" name="sub" value="Remove from my favourite artists">
              <% } else { %>
              <input type="hidden" id="<%= relatedArtists[i].id %>Hidden" name="add" value="<%= relatedArtists[i].id %>">
              <input type="submit" id="<%= relatedArtists[i].id %>Input" name="sub" value="Add to my favourite artists">
              <% } %>
            </form>
          </div>

          <div class="Rating" style="top: 55%;">
            <% if(allRatings[relatedArtists[i].id] != null){ %>
              <h3>&nbsp&nbsp&nbsp<a href="/Rate/artist/<%= relatedArtists[i].id %>">Rate This Artist</a></h3>
              <h3>Museical User's Rating: <%= allRatings[relatedArtists[i].id] %>/5 </h3>
            <% } else { %>
              <h3>&nbsp&nbsp&nbsp<a href="/Rate/artist/<%= relatedArtists[i].id %>">Rate This Artist</a></h3>
              <h3>No ratings yet.</h3>
            <% } %>
          </div>

        </div>

      <% if(relatedArtists[i+1] && relatedArtists[i+1].id != relatedArtists[i].id){ %>
        <div class="hot">

        <% if(relatedArtists[i+1].picture){ %>
          <img src="<%= relatedArtists[i+1].picture %>" alt="Can't display image">
        <% } else { %>
          <img src="/pictures/lang-logo.png" alt="Can't display image">
        <% } %>

        <div class="username">
            <h2><%= relatedArtists[i+1].name %> </h2>
        </div>

        <div class="date">
          <h3> Genres:&nbsp
          <% relatedArtists[i+1].genres.forEach((genre, y) => { %>
            <% if(y == relatedArtists[i+1].genres.length -1){ %>
              <span><%= genre %></span>
          <% } else { %>
            <span><%= genre %>,&nbsp</span>
          <% } %>

          <% }) %>

          </div>

          <div class="recognize">
            <form class="artists" method="post">
              <% if(myArtists.includes(relatedArtists[i+1].id)){ %>
              <input type="hidden" id="<%= relatedArtists[i+1].id %>Hidden" name="delete" value="<%= relatedArtists[i+1].id %>">
              <input type="submit" id="<%= relatedArtists[i+1].id %>Input" name="sub" value="Remove from my favourite artists">
              <% } else { %>
              <input type="hidden" id="<%= relatedArtists[i+1].id %>Hidden" name="add" value="<%= relatedArtists[i+1].id %>">
              <input type="submit" id="<%= relatedArtists[i+1].id %>Input" name="sub" value="Add to my favourite artists">
              <% } %>
            </form>
          </div>

          <div class="Rating" style="top: 55%;">
            <% if(allRatings[relatedArtists[i+1].id] != null){ %>
              <h3>&nbsp&nbsp&nbsp<a href="/Rate/artist/<%= relatedArtists[i+1].id %>">Rate This Artist</a></h3>
              <h3>Museical User's Rating: <%= allRatings[relatedArtists[i+1].id] %>/5 </h3>
            <% } else { %>
              <h3>&nbsp&nbsp&nbsp<a href="/Rate/artist/<%= relatedArtists[i+1].id %>">Rate This Artist</a></h3>
              <h3>No ratings yet.</h3>
            <% } %>
          </div>

        </div>

      <% } %>

        </div>

      <% } %>
    <% } else { %>
      <div class="activity">
        <h3>Add some artists to your favourites to get recommendations for other artists!</h3>
      </div>
    <% }%>

    <script type="text/javascript">

    $(() => {
      $('#confirmLogout').click(function(){
        if(confirm('Are you sure you wish to logout?')) {
            return true;
          }
          return false;
        });

        $('.tracks').submit(function(x) {
          x.preventDefault();
          $.ajax({
            type: "POST",
            url: "/songToFaves",
            data: $(this).serialize(),
            success: function(res){
              if(res.add){
                $(`#${res.add}Input`).val("Remove from my favourite songs");
                $(`#${res.add}Hidden`).attr('name', 'delete');
              }
              else {
                $(`#${res.delete}Input`).val("Add to my favourite songs");
                $(`#${res.delete}Hidden`).attr('name', 'add');
              }
            }
          })
        })


        $('.artists').submit(function(x) {
          x.preventDefault();
          $.ajax({
            type: "POST",
            url: "/artistToFaves",
            data: $(this).serialize(),
            success : function(res){
              if(res.add){
                $(`#${res.add}Input`).val("Remove from my favourite artists");
                $(`#${res.add}Hidden`).attr('name', 'delete');
              }
              else {
                $(`#${res.delete}Input`).val("Add to my favourite artists");
                $(`#${res.delete}Hidden`).attr('name', 'add');
              }
            }
          })
        })

    });

    </script>

  </body>
</html>
