<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/stylesheets/pageStyle.css">
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <title> <%= username %>'s Homepage</title>
  </head>
  <body>

    <div class="nav">

      <div class="options">


      <a href="/home/<%= id %>">Home</a>
      <a href="/home/<%= id %>">Notifications</a>
      <a href="/chat/<%= username %>/0">Messages</a>
      <a href="/home/<%= id %>">My Music</a>
      <a href="/logout" id="confirmLogout" style="float:right">Logout</a>
      <a href="/profile/<%= id %>" style="float:right"> <%= username %> </a>


      </div>

      <div class="centered">
        <a href="/home/<%= id %>">Museical</a>
      </div>

    </div>

    <div class="tabs">
      <h2>
        Hot Right Now
      </h2>
    </div>

    <div class="activity">
      <h3>To be added soon!</h3>
    </div>

    <div class="tabs">
      <h2>
        Based On Your Picks
      </h2>
    </div>

      <div class="activity">
        <h3>To be added soon!</h3>
      </div>

    <div class="tabs">
      <h2>
        Your Friends Activity
      </h2>
    </div>

    <div class="activity">
      <h3>To be added soon!</h3>
    </div>

    <script type="text/javascript">

    $(() => {
      $('#confirmLogout').click(function(){
        if(confirm('Are you sure you wish to logout?')) {
            return true;
          }

          return false;
        });
    });

    </script>

  </body>
</html>
